/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom no-scrollbar class */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
